.Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 30px;
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Overlay.Show {
  opacity: 1;
  transition: all 0.4s ease;
}

.Modal {
  background: transparent;
  max-width: 100%;
}
